
.progress {
    width: 100%;
    height: 20px;
}

.progress-wrap {
    background: #00b8ff;
    margin: 20px 0;
    overflow: hidden;
    position: relative;
}

.progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
}

.buttonlike {
    -webkit-appearance: button;
    -moz-appearance: button;
    -o-appearance: button;
    -ms-appearance: button;
    text-align: center;
    font-size: 13px;
    padding: 3px;
}

.dronePartSelContainer {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 350px;
    /*font-size: 0;*/
    white-space:nowrap;

    /*width: auto;*/
}

.dronePartSelContainer .box.selected {
    box-shadow: 3px 3px 15px #666;
    border-color: #19a9c7;
    background: #2559c7;
    color: #fff;
    cursor: pointer;
}
.dronePartSelContainer .box.redded {
    box-shadow: 3px 3px 15px #666;
    border-color: rgba(255, 0, 14, 0.85);
    background: #e9000e;
    color: #fff;
    cursor: pointer;
}

/*Style the DIV*/
.dronePartSelContainer .box {
    display: table-cell;
    height: 95%;
    white-space: normal;
    width: 120px;
    /*float: left;*/
    margin: 2px;
    padding: 5px;
    border: 1px solid #ccc;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    /*font-size: 12px;*/
}

.dronePartSelContainer .box img{
    width: 100px;
    width: 100px;
}

/*Fade all the DIV when user hovers on any div*/
.dronePartSelContainer:hover .box:not(:first-of-type) {
    zoom: 1;
    filter: alpha(opacity=45);
    opacity: 0.45;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/*Fade out the particular DIV when user hover on that DIV*/
.dronePartSelContainer .box:not(:first-of-type):hover {
    box-shadow: 3px 3px 15px #666;
    border-color: #C76C0C;
    background: #C76C0C;
    color: #fff;
    cursor: pointer;

    /*Opacity*/
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

#drone-builder-comp-type div{
    display: inline-block;
}

