
html, body{
    height: 100%;
}


svg line {
    stroke-width: 2;

}

.component rect {
    height: 100px;
    width: 100px;
}

.component > text {
    transform: translate(5px, 5px);
}

.component > image {
    transform: translateY(70px);
    y: 70;
    width: 30px;
    height: 30px;
}

.component > image:hover {
    transform: translateY(45px) scale(1.8);
}

/*Menu*/


#outerMenu{
    transform-origin: 50% 50% 0px;
}

#menu {
    display: block;
    margin: 0 auto;
    transform-origin: 50% 50% 0px;
    /*transform: matrix(0.1, 0, 0, 0.1, 0, 0) ;*/
    /*transform: matrix3d(0.2, -0.705518, 0, 0, 0.705518, 0.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);*/
    -moz-user-select: none;
    /*overflow: visible;*/ /* uncomment this if you are using bouncing animations*/
}

a {
    cursor: pointer; /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */
    outline: none;
}

/* You can change these default styles any way you want */

.item .sector {
    transition: all .1s linear;
    fill: #fff;
    stroke: #111;
}


.item:hover .sector, .item:focus .sector {
    fill: #eee;
}

.menu-trigger {
    fill: #EA2A55;
    pointer-events: auto; /* KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
}

.menu-trigger:hover, .menu-trigger:focus {
    cursor: pointer;
}
#symbolsContainer > symbol {
    overflow: visible; /* KEEP THIS so that text will not get cut off it it is wider than the icon width */
}

.selGroup{
    margin-left: 5px;
}
.selItem{
    margin-left: 5px;
}

#selComp {
    position: fixed;
    visibility: hidden;
}

#selectPrompt{
    visibility: hidden;
    position: fixed;
    left: 45%;
    top: 45%;
}